:root {
    --PrimaryColor: #415167;
    --AccentColor: #C7A17A;
    --DarkGray: #151D28;
    --LightGray: #EDF0F5;
    --Wight: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {background-color: #ffffff;}

.blok1{
    background-color: #c3c3c3;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    

}
.verblok1 {
    background-color: var(--Wight) ;
    height: 100vh;
    width: 45vw;
}
.revologo {margin-left: 12vw; margin-top: 12vh; scale: 1.4;}
.YPC {margin-left: 12vw; margin-top: 40vh; font-size: 3rem; font-weight: bold;}



.verblok3 {
    height: 100vh;
    width: 33vw;
    background-color: var(--PrimaryColor)
}
